# Ignore node_modules folder
node_modules/

# Ignore .env files containing sensitive environment variables
.env

# Ignore logs and debugging files
npm-debug.log
yarn-debug.log
yarn-error.log
*.log

# Ignore coverage reports
coverage/

# Ignore build or production files (if applicable)
dist/
build/

# Ignore IDE-specific files
.vscode/
.idea/
*.sublime-workspace

# Other files that might be relevant to your specific project
*.tgz
